<mat-toolbar >
    <button mat-icon-button class="example-icon" routerLink="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>home</mat-icon>
   </button>
   <span></span>

   <button mat-button routerLink="/inicio">Inicio</button>
   <button mat-button routerLink="/nosotros">Nosotros</button>
   <button mat-button routerLink="/login">Login</button>



   <span class="example-spacer"></span>
   <button mat-icon-button routerLink="/register">
     <mat-icon>person</mat-icon>
   </button>
   
</mat-toolbar>






